<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="bg-white p-8 rounded-lg shadow-lg text-center">
    <header class="mb-4">
        <div class="flex items-center justify-center">
            <img src="/public/logo.jpg" alt="Logo" class="h-24 mb-4">
        </div>
        <div>
            <h1 class="text-xl font-bold">संयुक्त मधेसी सेवा समाज नेपाल</h1>
            <h2 class="text-lg">हेटौडा, मकवानपुर, बागमती प्रदेश, नेपाल</h2>
            <h2 class="text-lg">Date: {{now()}}</h2>
        </div>
    </header>
    <h1 class="text-2xl font-bold mb-4">Coming Soon</h1>
    <p class="text-gray-600">We are working hard to bring you our new website. Stay tuned!</p>
</div>
</body>
</html>
